/*

 // DESENVOLVIDO POR ITALO CASTRO (EMIERIXIX) //

Facebook: https://www.facebook.com/italodzn
Github: https://www.github.com/Emierixix
Instagram: https://www.instagram.com/Emierixix

Se for usar não remova isso por favor ! e muito obrigado por usar. 

 */
@media only screen and (max-width:360px){
	.painel{
		height: 400px;
		width: 300px;
	}
	input{
		width: 250px;
	}
	.btn{
		width: 250px;
	}
	.painel{
		margin-top: 100px;
	}
}

@media only screen and (max-width:320px) and (max-height: 580px){
	.painel{
		height: 400px;
		width: 250px;
	}
	input{
		width: 235px;
	}
	.btn{
		width: 235px;
	}
	.painel{
		margin-top: 100px;
	}
}

@media only screen and (max-height: 580px){
	.painel{
		margin-top: 100px;
	}
}